# Node modules
node_modules/

# 환경변수
.env

# 로그파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 운영체제별
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# 빌드 결과물
dist/
build/

# 인증 키 (GCP service account key 등)
*.json

# 기타
coverage/
*.swp
