<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>게시글 보기 - ÜniÜnity</title>
    <!-- 부트스트랩 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Favicon-->
    <link rel="icon" href="/assets/favicon.ico">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />

    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" /> -->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="/post/css/post/postform.css">
    <link href="/post/css/home/mainpage.css" rel="stylesheet" />
    <link href="/post/css/post/postviewer.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar static-top mb-5 mt-5">
        <a class="navbar-brand" id="navbar-brand"><strong style="font-size: 30px;">ÜniÜnity</strong></a>

    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <p class="fs-4" id="post_category"></p>
                <p class="fs-1 fw-bold" id="post_title" style="margin-left: 25px;"></p>
            </div>
            <div class="row">
                <div class="col-6">
                    <!-- user_email 왼쪽 상단에 위치하도록 설정 -->
                    <p class="fs-4 fw-bold" id="user_nickname"></p>
                </div>
                <div class="col-6">
                    <!-- post_date view_count 오른쪽 상단에 위치하도록 설정 -->
                    <div class="row">
                        <div class="col-9">
                            <p class="fs-4" id="post_date" style="text-align: end;"></p>
                        </div>
                        <div class="col-3">
                            <p class="fs-4" id="view_count" style="text-align: end;"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card p-4">
                <div id="imageCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <!-- 카드뉴스 이미지 여기에 추가됨 -->

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br>
                <div class="toast-custom-viewer" id="post_content">

                </div>
            </div>

            <div class="d-flex mt-2 row">
                <div class="col-6">
                    <div class="row">
                        <p class="countIcons fs-4 col-2" id="like_count"></p>
                        <p class="countIcons fs-4 col-2" id="scrap_count"></p>
                        <p class="fs-4 col-2" id="comment_count"></p>
                    </div>

                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-10"></div>
                        <div class="col-1" id="modify"></div>
                        <div class="col-1" id="delete"></div>
                    </div>
                </div>


            </div>
        </div>
        <!-- 댓글보기 -->
        <div class="blog-entries" id="commentViewer">
            <div class="row justify-content-center">
                <div class="card p-4">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="row">
                                <div class="col-6">
                                    <!-- user_email_comment가 왼쪽 상단에 위치하도록 설정 -->
                                    <p class="fs-4" id="user_email_comment"></p>
                                </div>
                                <div class="col-6">
                                    <!-- comment_date과 like_count_comment가 오른쪽 상단에 위치하도록 설정 -->
                                    <div class="row">
                                        <div class="col">
                                            <p class="fs-4 text-end" id="comment_date"></p>
                                        </div>
                                        <div class="col">
                                            <p class="fs-4 text-end" id="like_count_comment"></p>
                                        </div>
                                    </div>
                                    <div class="col-auto" id="delete_comment" style="margin-left: 3px;"></div>
                                </div>
                            </div>
                            <!-- comment_content가 밑에 위치하도록 설정 -->
                            <p class="fs-4" id="comment_content"></p>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <!-- <댓글 작성> -->
        <div class="container_comment">
            <form class="form comment-form">
                <textarea placeholder="댓글을 입력하세요" style="font-size: 17px;"></textarea>
                <button type="button" class="btn btn-primary mt-2" id="write_comment_btn"
                    style="border-color:#FFD400; background-color:#FFD400;">등록하기</button>
            </form>
        </div>
    </div>
</body>
<footer class="footer bg-light mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto" id="footer1">
                <ul class="list-inline mb-2">

                    <li class="list-inline-item"><a href="/contact">Contact</a></li>

                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto" id="footer2">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="https://instagram.com/dev_aerim"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- toastUI -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<!-- Core theme JS-->
<script type="module" src="/post/js/post/postviewer.js"></script>
<script type="module" src="/post/js/post/comment.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

</html>