.btn-publish {
    width: 100px;
    height: 50px;
    font-size: 1.8rem !important;
    
 
}

.submitBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#post_title:focus { 
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color:#ced4da;
}

#map{
    width: 500px;
    height: 500px;
}


/* 제휴 가게 등록 파트 */
#sotreUpload{
    display: none;
    margin-top: 10px;
}

.inputForm{
    border-radius: 5px;
    margin-bottom: 50px;
}

.inputBox{
    width: 80px;
    height: 50px;
    margin: 0 auto 0;
    display: inline;
}

.inputBoxS{
    width: 80px;
    height: 40px;
    display: inline-block;
    margin: 0 auto;
    /* border: 1px solid #FFD400; */
    border-radius: 5px;
    outline: none;
}

.inputBtn{
    width: 60px;
    height: 40px;
    margin-left: 5px;
    background-color: #FFD400;
    border: none;
    /* border-radius: 5px; */
    outline: none;
}

#uploadBtn{
    width: 100px;
    height: 40px;
    margin-left: 5px;
    background-color: #FFD400;
    border: none;
    border-radius: 5px;
    outline: none;
}

#addrInfo{
    font-size: 15px;
}
.form-select {
    font-size: 1.5rem !important;
    height: 40px;
}

.form-control {
    font-size: 1.5rem !important;
    height: 40px;
}


.toastui-editor-contents h1{
  font-size: 34px;
}
.toastui-editor-contents h2{
  font-size: 32px;
}
.toastui-editor-contents h3{
    font-size: 30px;
  }
  .toastui-editor-contents h4{
    font-size: 28px;
  }
  .toastui-editor-contents h5{
    font-size: 26px;
  }
  .toastui-editor-contents h6{
    font-size: 24px;
  }

  .toastui-editor-contents p{
    font-size: 20px;
  }

.navbar-brand {
    cursor: pointer;
}